# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Python testing and coverage
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Local datasets
datasets/raw/*
!datasets/raw/.gitkeep

datasets/processed/*
!datasets/processed/.gitkeep

datasets/sample/*
!datasets/sample/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# dbt
target/
dbt_packages/
logs/